html {
    box-sizing: border-box;   
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: "Bebas Neue";
    text-align: center;
    color: #a2a2a2;
}

/*----Header----*/
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

header .title-header{
    font-family: "Bebas Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #a2a2a2;
    margin:24px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #a2a2a2;
    margin: 12px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


/*----Main----*/


/*----Article----*/
article{
    background-color: #e7e7e7;
}


/*----Article One----*/
.article-one{
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.article-one #hola{
    
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 0;
}
.article-one .soy-Juan-desarrolla {
    width: 221px;
    height: 129px;
    /*text-align: center;
    justify-content: center;
    font-weight: normal;*/
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    
    letter-spacing: 3px;
    color: #000000;
  }
  .article-one .rectangle{
    border-radius: 3px;
    border: solid 2px #1c6698;
    background-color: transparent;
    width: 160px;
    height: 40px;  
  }

  .article-one .rectangle p{
    font-family: "Roboto", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 10px;
   /* text-align: center;*/
    color: #1c6698;
  }


/*----Article Two----*/
.article-two{
    height: 578px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: #000000;
}
.article-two .title-aboutme{

    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-align: center;
    color: #a2a2a2;
}
.article-two .section-art2{
    margin-bottom: 40px;
    width: 264px;
    height: 200px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
}
.article-two #paragraph{
    text-align: center;
    justify-content: center;
    font-weight: 300;
 
}
.article-two #paragraph-two{
    text-align: center;
    justify-content: center;
    font-weight: 500;

}

.article-two .video-responsive{

   /* display:flex;
    justify-content: center;
    padding-bottom:5%;
    overflow: hidden;*/

}

/*----Article Three----*/
.article-three{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 546px;
}

.boxs {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-left: 24px;
    margin-right: 24px;
    overflow: hidden;
}

.box{
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 208px;
    height: 350px;
    border-radius: 3px;
    box-shadow: #000000;
    background-color: #000000;
    overflow: auto; 
}
.title-box {
    width: 137px;
    height: 26px;
    font-size: 14px;
    letter-spacing: 1.5px;
    border-radius: 3px;
    border: solid 2px #a2a2a2;
    color: #a2a2a2;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 2px;
}
.secondtitle{
    width: 137px;
    height: 26px;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #ffffff;
}


.article-three .title-hability{

    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-align: center;
    color: #000000;
}
.article-three .section-art3{
    display:grid;
    grid-auto-flow: column;
}
.article-three .section2-one{
    background-color: #000000;
    margin:10px;
}
.article-three .section2-two{
    background-color: #000000;
    margin:10px;
}
.article-three .section2-three{
    background-color: #000000;
    margin:10px;
}
.article-three .section-art3 p{
    width: 62px;
    height: 80px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a2a2a2;
   
}


/*----Footer----*/
footer{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 104px;
    font-size: 14px;
    letter-spacing: 1.17px;
    background-color: #000000;
}
/*
footer p{
    color: #a2a2a2;
    width: 149px;
    height: 17px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.17px;
    text-align: center;
}*/